html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.addressForm{
    margin-top: 5%;
    position: absolute;
    left: 30%;
    z-index: 123456;
}

.addressForm-item{
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    height: 35px;

}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.opacityDiv {
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.5;
    z-index: 12;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bigLogo {
    background-image: url(../images/LogoMakr_1LY3yC.png);
    vertical-align: middle;
    z-index: 123;
    position: absolute;
    left: 15%;
    top: 30%;
    background-size: cover;
    width: 50%;
    height: 50%;
    padding: 0;

}

.smallLogo {
    background-image: url(../images/LogoMakr_1LY3yC.png);
    position: absolute;
    background-size: cover;
    z-index: 123;
    right: 2%;
    top: 2%;
    width: 15%;
    height: 15%;
}