html{
    height: 95%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    height: 95%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align:center;
}

.addressForm-item {
    outline:none;
    border-radius: 10px;
    padding: 5px 10px;
    height:42px;
    font-size: 20px;
    border-width:1px;
    margin: 3px; 
    font-family: 'Noto Sans KR', sans-serif;
}


input[name='address'] {
    width: 450px;
}

input[name='datetime'] {
    width: 200px;
    font-size: 20px;
}

.blue {
    color:white;
    background: rgba(139,194,245,1);
    background: -moz-linear-gradient(top, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: -webkit-linear-gradient(top, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: -o-linear-gradient(top, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: linear-gradient(to bottom, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
}

.blue:active {
    background: rgba(139,194,245,1);
    background: -moz-linear-gradient(bottom, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: -webkit-linear-gradient(bottom, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: -o-linear-gradient(bottom, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
    background: linear-gradient(to top, rgba(139,194,245,1) 0%, rgb(10, 4, 198) 100%);
}

.submitButtons{
    display: block;
}

.submitButtons input {
    border:0;
}

.form-container {
    margin:auto;
    position:relative;
    z-index:123456;
    margin-top: 5%;
    
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
    top:0;
    bottom:0;
    position:fixed;
}

.report-btn {
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    outline:none;
    border-radius:5px;
    padding:7px 10px;
}

#no-space-found, .red {
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
}

#no-space-found:active, .red:active {
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#space-found, .green {
    background: rgba(228,255,148,1);
    background: -moz-linear-gradient(top, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: -o-linear-gradient(top, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: linear-gradient(to bottom, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
}

#space-found:active, .green:active {
    background: rgba(228,255,148,1);
    background: -moz-linear-gradient(bottom, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: -o-linear-gradient(bottom, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
    background: linear-gradient(to top, rgba(228,255,148,1) 0%, rgba(134,184,84,1) 100%);
}

.opacityDiv {
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.5;
    z-index: 12;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bigLogo {
    background-image: url('../images/LogoMakr_1LY3yC.png');
    z-index: 1234567;
    position: relative;
    margin:auto;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    height:300px;
    top:50px;
}

.smallLogo {
    background-image: url('../images/LogoMakr_1LY3yC.png');
    position:absolute;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:123456789;
    height:100px;
    width:200px;
    right:0;
    top:20px;
}

.reported-text {
    text-align:center;
    color:green;
    font-family: 'Noto Sans KR', sans-serif;
}

.table{
    background-color: white;
    z-index:123456;
    width: 30%;
    height: 18%;
    position: absolute;
    left: 2%;
    bottom: 2%;
    border-radius: 5px;
    border: 1px solid rgb(123, 123, 209);
}

.logSign{
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    z-index: 123;
}

.logSign i{
    font-size: 15px;
}


body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
#id01 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11234567; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}




body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
#id02 input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
#id02 input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 123456789; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal2-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn2 {
     width: 100%;
  }
}

.welcomeDiv{
    z-index: 1234567890098876543456789;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-style: bold;
    height: 100px;

}

.errorMess {
    z-index: 12345678911876543456789;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}